
            <footer class="">
                  <nav class="nav-extended cyan">
                        <div class="nav-content">
                              <ul class="tabs tabs-transparent">
                                    <li class="tab"><a class="active" href="/owners/<%= owner._id %>"><i class="material-icons">home</i></a></li>
                                    <li class="tab"><a class="active" href="/logout">Logout</a></li>
                              </ul>
                        </div>
                  </nav>
            </footer>
      </main>
   </body>
</html>