               <div class="haveAccText">
                  <% if (showLogoutLink) { %>
                     <a href="/logout">Log out</a>
                   <% } %>
               </div>
            </div>
      </main>
   </body>
</html>