<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoggyDate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <form action="/signup" method="POST"></form>
  <div class="wrapper">
    <svg>
      <text x="50%" y="50%" dy=".35em" text-anchor="middle">
        DoggyDate
      </text>
    </svg>
  </div>
  <br><br><br><br>  <br><br><br><br>
<body class="signUpClass">
    <h1 class="signupWordClass">Welcome back! ▼(´ᴥ`)▼</h1>

<% if (typeof error !== 'undefined' && error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

    <nav id="topButtonsID">
          <a href="/auth/google" class="login">Log in with Google</a>
        </nav>
        <p>Don't have an account? <a href="/">Sign up here</a>.</p>
        <br><br><br><br><br><br><br><br>

</body>
</html>