<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <div class="wrapper">
    <svg>
      <text x="50%" y="50%" dy=".35em" text-anchor="middle">
        DoggyDate
      </text>
    </svg>
  </div>
  <br><br><br><br>
<body class="signUpClass">
    <h1 class="signupWordClass">Sign up</h1>
    <br>
<!-- Signup form  -->
<!-- Display any error messages if there are any -->
<% if (typeof error !== 'undefined' && error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <!-- Signup form -->
  <form action="/signup" method="POST">
    <!-- Username field -->
    <label for="username">Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <input type="text" id="username" name="username" placeholder="e.g. john123" required>
    <br>
    <br>
    <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <input type="email" id="email" name="email" placeholder="john123@example.com" required>
    <br>
    <br>
    <label for="password">Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <input type="password" id="password" name="password" placeholder="create a password" required>
    <br>
    <br>
    <button type="submit">Sign up with Google</button>

  <p>Already have an account? <a href="/login">Log in here</a>.</p>
  <br><br><br><br>
</form>

</body>
</html>
