<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoggyDate</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <form action="/signup" method="POST" class="formClass">
    <div class="wrapper">
      <svg>
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">DoggyDate</text>
      </svg>
    </div>
    <section class="signUpClass">
      <h1 class="signupWordClass">Create a free account</h1>
      <% if (typeof error !== 'undefined' && error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <nav class="topButtonsClass">
        <a href="/auth/google" class="login">Sign up with Google</a>
      </nav>
      <p class="haveAccText">
        Already have an account? <a href="/login">Log in here</a>.
      </p>
    </section>
  </form>
</html>
