<%- include('../partials/header') %>
<div class="sign-up">
  <div class="title-wrapper">
    <img class="logo" src="/favicon.ico"/>
    <h1 class="responsive-text center-align">DoggyDate</h1>
  </div>
  <div class="content-wrapper">
      <a class="waves-effect btn-large cyan accent-1" href="/auth/google">Log in with Google</a>
  </div>
</div>
<%- include('../partials/footer') %>
