
.logo {
    height: auto;
    width: 35vmin;
    animation: zoom-in-zoom-out 2s ease forwards;
    position: relative;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-container { 
    display: flex;
    height: 91.5vh;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.carousel{
    margin: -5rem 0;
    height: auto;
    min-height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Fredoka", sans-serif; 
}
  
.card-image img{
    max-height: 50vh;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
}

.btn-large {
    width: 50%;
    color: black;

}


@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(2, 2) rotate(0deg);
    }
    75% {
        transform: scale(2,2)rotate(360deg);
    }
    100% {
      transform: scale(1, 1) rotate(360deg);
    }
  }
  
  @keyframes typing {
    0%, 100% {
        border-right: .05em solid black;
    }
    99.9% {
        border-color: black;
    }
    100% {
        border-right: .05em solid transparent;
    }
    from { width: 0; }
    to { width: 8ch; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.typing {
    border-right: .05em solid black;
    display: inline block;
    overflow: hidden;
    animation: typing 1s steps(40, end), blink-caret .75s step-end;
    animation-fill-mode: forwards;
}

.title-text {
    display: none;
    font-size: 12.5vmin;
    position: relative;
}


.dogBio{
    font-size:1rem;
    color: black;
    font-weight: 400;
}

.dog-img{
    height: 60vmin;
    width: 400px
}

.carousel-controls i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 2rem;
  }
  
.carousel-next {
right: 2rem;
}


.page-container h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    text-align: center;
}
.page-container h6{
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.page-container #match-logo-container {
    display: flex;
    justify-content: center;
}

.card-action{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}



.edit-btn{
    width: 50%;
    transform: translateX(50%);

}

.card{
    width: 70vmin;
}

#msg-owner-btn, #msg-owner-icon{
    font-size: 1.3vmin;
}

#msg-owner-icon{
    margin-left: 1vmin;
}
.input-field input[type=text],
.input-field input[type=number]{
    border-bottom: 1px solid white;
}

.akcBox{
    text-align: center;
}

.dogUpdate{
    transform: translateX(-50%);
    left: 50%;
}

.editAddTitle{
    font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.addDogBtn{
    width: 50%;
    transform: translate(-50%, -40%);
    left: 50%;
    min-width: 34vmin;
    margin-top: -5rem;
    max-height:8vh;
}

.ownerShowTitle{
    font-size: 5vh;
}

.ownerShowSubtitle{
    font-size: 2.5vh;
}

.btn{
    height: auto;
    max-width: 80vh;
    margin-bottom: .3rem;
    max-height: 8vh;
}

.body{
    height: 100vh;
    width: 100vw;
}


.card-image #dog-name{
    font-family: "Fredoka", sans-serif;
    color: black;
    font-weight: 600;
    background-color:rgba(100,181,246, 0.64);
    padding: .4rem;
    font-size: 2vmin;
    font-size: 1rem;
}

.card-image #swipe-dog-name{
    font-family: "Fredoka", sans-serif;
    color: black;
    font-weight: 600;
    background-color:rgba(100,181,246, .64 );
    padding: .4rem;
    font-size: 2vmin;
    font-size: 1rem;
}

.like-dis-container form button{
    all: unset ;
}

.like-dis-container form button i{
    font-size: 18vmin;
}

.like-dis-container form button:active{
    all: unset ;
    animation: zoom-in-zoom-out 1s ease infinite;
    
}

.like-dis-container{
    display: flex;
}




.like-dis-container form .fa-heart{
    color: red;
    text-shadow: coral 1px 0 10px;
    margin-left: 9vmin;
}


@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(.5, .5);
    }
    100% {
      transform: scale(1, 1);
    }
  }


.swipe-container{
    display: flex;
    height: 95vh;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title-text-swipe {
    font-size: 3.75vmin;
    position: relative;
    font-family: "Fredoka", sans-serif;
}

.logo-swipe {
    height: auto;
    width: 15vmin;
    position: relative;
}

#logo-match {
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
}

.logo-container{
    display:flex;
    align-items: center;
    padding-top: 0;
}

.swipe-container > button  {
    margin-top: 1rem;
    border-radius: 20px;
}


.swipe-container > button * {
    color: white;
    font-size: 3.5vmin;

}


ul .tab:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


.tabs-transparent {
    display:flex;
    align-items: center;
    justify-content:space-around;

}

.tabs-transparent .material-icons{
    margin-top: -.3rem;
}

.matches-container{
    display: flex;
    flex-direction: column;
}

.match-images{
    height: auto;
    width: auto;
}

.noMoreDogs{
    font-family: "Fredoka", sans-serif; 
}

#keep-matching{
    width: 70%;
    left: 50%;
    transform: translateX(-50%) ;

}

#no-matches{
   transform: translateY(-400%);
   font-size: 7vmin;
}

.add-edit-container{
    height: 92vh;
    overflow: hidden;
}

@media only screen and (min-height: 570px) {
    .page-container{
        height: 93vh;
    }
}

@media only screen and (min-height: 687px) {
    .page-container{
        height: 95vh;
    }
}


@media only screen and (max-height: 700px) {
    .swipe-container{
        height: 93vh;
    }
}

@media only screen and (max-height: 530px) {
    .swipe-container{
        height: 91.5vh;
    }
}

@media only screen and (max-height: 700px) {
    .add-edit-container{
        height: 90vh;
    }
}

@media only screen and (max-height: 530px) {
    .add-edit-container{
        height: 88vh;
    }
}