.logo{
    height: 7rem;
    width: auto;
    margin-top: 1.5rem;
}

.title-wrapper{
    display: flex;
    justify-content: center;
}

.sign-up{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
}

.btn-large{
    width: 50%;
    color: black;
}
