.logo {
    height: auto;
    width: 35vmin;
    animation: zoom-in-zoom-out 2s ease forwards;
    position: relative;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-container { 
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    /* width: 100%; */

}

.carousel{
    height: auto;
    min-height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Fredoka", sans-serif; 
}
  
.card-image img{
    max-height: 50vh;
    
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
}

.btn-large {
    width: 50%;
    color: black;

}


@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(2, 2) rotate(0deg);
    }
    75% {
        transform: scale(2,2)rotate(360deg);
    }
    100% {
      transform: scale(1, 1) rotate(360deg);
    }
  }
  
  @keyframes typing {
    0%, 100% {
        border-right: .05em solid black;
    }
    99.9% {
        border-color: black;
    }
    100% {
        border-right: .05em solid transparent;
    }
    from { width: 0; }
    to { width: 8ch; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.typing {
    border-right: .05em solid black;
    display: inline block;
    overflow: hidden;
    animation: typing 1s steps(40, end), blink-caret .75s step-end;
    animation-fill-mode: forwards;
}

.title-text {
    display: none;
    font-size: 12.5vmin;
    position: relative;
}


.dogBio{
    font-size:1rem;
    color: black;
    font-weight: 400;
}

.dog-img{
    height: 60vmin;
    width: 400px
}

.carousel-controls i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 2rem;
  }
  
.carousel-next {
right: 2rem;
}


.page-container h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    text-align: center;
}
.page-container h6{
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.card-action{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}



.edit-btn{
    width: 50%;
    transform: translateX(50%);

}

.card{
    width: 70vmin;
}

/* .input-field input[type=text]:focus + label {
    color: red !important;
} */

.input-field input[type=text],
.input-field input[type=number]{
    border-bottom: 1px solid white;
}

.akcBox{
    text-align: center;
}

.dogUpdate{
    transform: translateX(-50%);
    left: 50%;
}

.editTitle{
    font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.addDogBtn{
    width: 50%;
    transform: translateX(-50%);
    left: 50%;
    min-width: 34vmin;
    margin-top: -6rem;
    max-height:8vh ;
}

.ownerShowTitle{
    font-size: 6vh;
}

.ownerShowSubtitle{
    font-size: 3vh;
}

.btn{
    height: auto;
    max-width: 80vh;
    margin-bottom: .3rem;
    max-height: 8vh;
}

.body{
    height: 100vh;
    width: 100vw;
}


.card-image #dogName{
    font-family: "Fredoka", sans-serif;
    color: black;
    font-weight: 600;
    background-color:rgba(100,181,246, 0.5);
    padding: .4rem;
    font-size: 2vmin;
    font-size: 1rem;
}