<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoggyDate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<header>
<nav id="topButtonsID">
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
</nav>
</header>
<body>
<main>