<%- include('../partials/header') %>
    <div class="swipe-page">
        <div class="swipe-container">
            <div class="swipe-picture">
                
            </div>
        </div>

    </div>
<%- include('../partials/footer') %>