<%- include('../partials/header') %>
<div class="updatePage" id="updatePageID">
<form action="/owners/<%= owner._id %>/dogs" method="POST" enctype="multipart/form-data" class="addAndUpdateContainers">
    <h2 class="yourDogName">Add Your Dog♡🐾</h2><br><br><br>
    <label class="chooseFileButton" for="pictures">Add picture:
        <input type="file" name="pictures" id="pictures" required>
    </label><br>
    <div class="addDogs">
    <label for="name">Name:
        <input type="text" name="name" id="name" required>
    </label><br>
    <label for="age">Age:
        <input type="number" name="age" id="age" min="1" required>
    </label><br>
    <label for="city">City:
        <input type="text" name="city" id="city" required>
    </label><br>
    <label for="weight">Weight:
        <input type="number" name="weight" id="weight" min="1">
    </label><br>
    <label for="breed">Breed:
        <input type="text" name="breed" id="breed">
    </label><br>
    <label for="bio">Bio:
        <input type="text" name="bio" id="bio">
    </label><br></div>
    <label class="akcVerificationButton" for="hasAkcCertification">AKC Certification:
        <input type="checkbox" name="hasAkcCertification" id="hasAkcCertification">
    </label><br><br>
    <div class="rowButtons">
        <button type="submit" class="buttonAddDogs">Add Dog ฅ՞•ﻌ•՞ฅ</button>
    </div>
    <br>
    <div class="goBack">
        <a href="/owners/<%= owner._id %>">⇤Go back↩</a>
    </div>
</form>
</div>


<%- include('../partials/footer') %>












