* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-image: linear-gradient(
  255deg,
  hsl(169deg 100% 67%) 0%,
  hsl(239, 65%, 83%) 50%,
  hsl(278, 22%, 54%) 100%);
  margin: 0;
  height: 120vh;
  /* padding: 0; */
  /* overflow: hidden; */
  border: 5px double rgb(214, 123, 201);
  /* display: grid;
  align-items: center; */
 /* grid-template-rows: 50px 1fr; */
}

nav a {
  color: white;
  /* text-align: center; */
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  border-radius: 15px;
  background: rgb(193, 107, 208);
  transition: background-color 5s ease-out 100ms;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

nav a:hover,nav a:focus, nav a:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
/*  */
#topButtonsID {
  /* grid-area: nav; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom: 7px double rgb(157, 32, 179);
  font-size: 30px;
  margin: 0;
} 
/*  */
main {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

.signUpClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* border: 5px double rgb(214, 123, 201); */
}

.signupWordClass {
  text-align: center;
  color: rgb(182, 0, 206);
  padding: 7px;
  border: 5px solid rgb(214, 123, 201);
  border-style: double none dashed none;
  border-radius: 25px;
  font-size: 25px;
}

.loginClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* border: 5px double rgb(214, 123, 201); */
}

.loginWordClass {
  text-align: center;
  color: rgb(182, 0, 206);
  padding: 7px;
  border: 5px solid rgb(214, 123, 201);
  border-style: double none dashed none;
  border-radius: 25px;
}

.buttonsUpdateDelete {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: purple;
  background-color: rgb(251, 255, 0);
}

.buttonsDelete {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: rgb(251, 255, 0);
}

/* body > #show-page {
  background-image: url(/images/dogbackground.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
} */

#show-page {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: purple;
  /* border: 5px double rgb(214, 123, 201); */
}

.ownerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

form {
  text-align: center;
}

.updatePage {
  /* overflow: hidden; */
  /* background-size: 200px; */
  display: flexbox;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
  margin: 0;
  color: purple;
}

.addPage {
  /* overflow: hidden; */
  /* background-size: 200px; */
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: purple;
}

.aboutDogClass {
  text-align: center;
  margin-bottom: 10px;
  /* font-size: 20px */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgClass {
  width: 150px;
  height: 150px;
  padding-bottom: 5px;
}

.buttonsWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

/* .updateDog {
  align-items: right;
  justify-content: right;
} */

@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
svg {
	font-family: "Glory", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 10s infinite alternate;
	stroke-width: 2;
	stroke: #ffffff;
	font-size: 65px;
  letter-spacing: 2px;
  text-anchor: middle;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,171,76,0); stroke: rgba(204,171,76,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,171,76,0); stroke: rgb(218, 218, 168); }
	80%  {fill: rgba(204,171,76,0); stroke: rgb(211, 211, 167); stroke-width: 3; }
	100% {
		fill: rgb(255, 255, 255); stroke: rgba(211,210,89,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
  width: 434px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    font-size: 18px;
  }
  .wrapper {
    width: 95%;
  }
};