<%- include('../partials/header') %>

<h2>Update Dog</h2>

<form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=PUT" method="POST">
    
    <label for="name"> Edit Name:
        <input type="text" name="name" id="name">
    </label>
    <label for="age"> Edit Age:
        <input type="number" name="age" id="age">
    </label>
    <label for="weight">Edit Weight:
        <input type="number" name="weight" id="weight">
    </label>
    <label for="breed">Edit Breed:
        <input type="text" name="breed" id="breed">
    </label>
    <label for="bio">Edit Bio:
        <input type="text" name="bio" id="bio">
    </label>
    <label for="hasAkcCertification">AKC Certification:
        <input type="checkbox" name="hasAkcCertification" id="hasAkcCertification">
    </label>
        <button type="submit">Update Dog</button>
</form>





<%- include('../partials/footer') %>